/* ==UserStyle==
@name           classroom monstrosity
@namespace      github.com/xi-vai
@version        1.0.4
@description    making gc just a bit less annoying (imo) while not changing the colors provided
@author         xivai
==/UserStyle== */

/*
I would like to note that i'm building this as something to not interact with colors as much as possible so that people who know how to do colors can have their themes interact with this with no mods.
I personally have been using https://userstyles.world/style/12025 through this, so i know this doesn't change colors.
I plan to figure out how @var works before i up the version number to 1.1.0
also, note that I'm not a professional, this code is not perfect (it does not include teacher-only elements).
*/
@-moz-document domain("classroom.google.com") {
    
    /*leftpane start*/

    .aBPWdf {
        flex: 0 0 0;
    }
    .pJAEVb {
        .KEDCCd {
            width: calc(100% - 3rem);
        }
    }
    /*blank to show, none to hide*/
    .uTwgne[aria-label="Home"] {
        display: none;
    }
    .uTwgne[aria-label="Calendar"] {
        display: none;
    }
    .ug8OTc /*"Enrolled"*/{
        display: ;
    }
    .uTwgne[aria-label="To-do"] {
        display: none;
    }
    .uTwgne[aria-label="Archived classes"] {
        display: none;
    }
    .uTwgne[aria-label="Settings"] {
        display: ;
    }
    .s28puc {
        margin: 0 0;
    }
    .tCcYY {
        width: 4.5rem;
        height: 3rem;
        transition: 0.4s;
        background-color: rgba(0,0,0,0);
    }
    .tCcYY:hover {
        width: 15rem;
        height: 18rem;
    }
    .rknsod {
        width: 4.5rem;
        height: 3rem;
        transition: 0.4s;
        background-color: var(--gm3-sys-color-surface-container-low, #f8fafd);
        scrollbar-width: none;
        border-bottom-right-radius: 1.75rem;
        padding: 0.5rem;
        padding-top: 0;
    }
    .rknsod:hover {
        width: 15rem;
        height: 18rem;
        border-bottom-right-radius: 3rem;
    }
    .ZYus1c {
        display: none;
    }
    /*leftpane end*/
    /*rightpanemain start*/
    .dbEQNc {
        width: 95vw;
        max-width: 95vw;
    }
    .Y0qupd {
        .dbEQNc {
            max-width: 95vw;
        }
    }
    .pJAEVb .cmXCjf.WufxEd .ynt9Dc /*this was my attempt to make the archived banner max width, i can NOT figure this out.*/ {
        --gm3-banner-content-max-width: 100%;
    }
    .qyN25 {
        height: 5rem; /*0rem removes banner, 5rem is good for name, 9rem is good small, 15rem is gc default, 21 is good large, can really be anything though*/
    }
    .PFLqgc { /*the image link i put in here is from my bandcamp banner, please replace it if you want a bigger banner.*/
        background-image: url("https://f4.bcbits.com/img/0044724638_102.avif") !important/*removing the important flag restores google's banners*/;
    }
    .DXLeqd/*this is the "upcoming assignments" pane to the left*/{
        display: none;
    }
    /*rightpanemain end*/
    /*rightpanecw&p start*/
    .Z3qXvc {
        max-width: 95vw;
        padding: 2rem 0;
    }
    .JryN0e {
        display: none;
    }
    .P47N4e.P47N4e {
        display: none;
    }
    .EE538 {
        max-width: calc(100vw - 29rem);
        padding-left: 3rem;
    }
    .BiaLW {
        max-width: 20rem;
        width: 20rem;
    }
    .d3aYgd .luto0c {
        width: calc(calc(4rem + 15vw) - .375rem);
    }
    /*rightpanecw&p end*/
    /*rightpaneclasses start*/
    .gHz6xd {
        width: 18rem;
        margin-bottom: .5rem;
        margin-left: 3rem;
        margin-right: 0px;
    }/*weird thing happens when hovering over, don't feel like fixing it and it's fun*/
    .JwPp0e {
        padding-left: 1rem;
        padding-top: 4rem;
    }
    /*rightpaneclasses end*/
    /*lowertopbar start*/
    .YJHsie {
        display: none;
    }
    .n8gX0b {
        display: none;
    }
    /*lowertopbar end*/
    /*uppertopbar start*/
    .k43Owe {
        display: none;
    }
    .rIyhE {
        .cGvavf {
            margin: 0 0 0;
        }
    }
    .dR850e {
        display: none;
    } /*this removes the "classroom" word*/
    .NMm5M[width="18"]/*removing this small arrow was so stupid*/ {
        display: none
    }
    .sXIFDb.sXIFDb:last-child {
        margin-left: 0.5rem;
    }
    /*uppertopbar end*/
    .N6nSod/*help button*/ {
        display: none;
    }
}
