/* ==UserStyle==
@name           classroom monstrosity
@namespace      github.com/darxival
@version        1.0.2
@description    making gc just a bit less annoying (imo) while not changing the colors provided
@author         darxival
==/UserStyle== */

/*
I would like to note that i'm building this as something to not interact with colors as much as possible so that people who know how to do colors can have their themes interact with this with no mods.
I personally have been using https://userstyles.world/style/12025 through this, so i know this doesn't change colors.
also, note that I'm not a professional even though i have a tech certification, this code is not perfect (it does not include teacher-only elements).
*/
@-moz-document domain("classroom.google.com") {
    /*leftpane start*/
    .aBPWdf {
        flex: 0 0 0;
    }
    .pJAEVb {
        .KEDCCd {
            width: calc(100% - 3rem);
        }
    }
        /*for the following, set "none" to hide, set blank to show*/
    .uTwgne[aria-label="Home"] {
        display: none;
    }
    
    .uTwgne[aria-label="Calendar"] {
        display: none;
    }
    .ug8OTc /*"Enrolled"*/{
        display: ;
    }
    .uTwgne[aria-label="To-do"] {
        display: none;
    }
    .uTwgne[aria-label="Archived classes"] {
        display: none;
    }
    .uTwgne[aria-label="Settings"] {
        display: ;
    }
    .s28puc {
        margin: 0 0;
    }
    .ZtINmf {
        .rknsod {
            padding: 0.625rem;
            padding-top: 0;
        }
    }
    .tCcYY {
        width: 4.5rem;
        height: 3rem;
        transition: 0.4s;
        background-color: rgba(0,0,0,0);
    }
    .tCcYY:hover {
        width: 15rem;
        height: 18rem;
    }
    .rknsod {
        width: 4.5rem;
        height: 3rem;
        transition: 0.4s;
        background-color: var(--gm3-sys-color-surface-container-low, #f8fafd);
        scrollbar-width: none;
        border-bottom-right-radius: 1.75rem;
    }
    .rknsod:hover {
        width: 15rem;
        height: 18rem;
        border-bottom-right-radius: 3rem;
    }

    .gdOsje {
        display: none;
    }
    /*leftpane end*/
    /*rightpanemain start*/
    .dbEQNc {
        width: 95vw;
        max-width: 95vw;
    }
    .Y0qupd {
        .dbEQNc {
            max-width: 95vw;
        }
    }
    .pJAEVb .cmXCjf.WufxEd .ynt9Dc /*this was my attempt to make the archived banner max width, i can NOT figure this out.*/ {
        --gm3-banner-content-max-width: 100%;
    }
    .qyN25 {
        height: 9rem; /*0rem removes banner, 9rem is good small, 15rem is gc default, 21 is good large, can really be anything though*/
    }
    .PFLqgc {
        background-image: url("https://media.discordapp.net/attachments/721519016824275077/1384939992224239799/temp.png?ex=68cae861&is=68c996e1&hm=216e6c834ee9b1a366f0f81af8705274053a4025e8160c1ecd94dfc872b80151&=&format=webp&quality=lossless&width=970&height=544") !important/*it is VERY important that this is important*/;
    }
    .DXLeqd/*this is the "upcoming assignments" pane to the left*/{
        display: none;
    }
    /*rightpanemain end*/
    /*rightpanecw&p start*/
    .Z3qXvc {
        max-width: 95vw;
        padding: 2rem 0;
    }
    .JryN0e {
        display: none;
    }
    .P47N4e.P47N4e {
        display: none;
    }
    .EE538 {
        max-width: 70vw
    }
    .BiaLW {
        max-width: 20vw;
        width: 20vw;
    }
    /*rightpanecw&p end*/
    /*rightpaneclasses start*/
    .gHz6xd {
        width: 16rem;
        margin-bottom: 1rem;
        margin-left: 3rem;
        margin-right: 0px;
    }/*weird thing happens when hovering over, don't feel like fixing it and it's fun*/
    .JwPp0e {
        padding-left: 1vw;
        padding-top: 4rem;
    }
    /*rightpaneclasses end*/
    /*lowertopbar start*/
    .YJHsie {
        display: none;
    }
    .n8gX0b {
        display: none;
    }
    /*lowertopbar end*/
    /*uppertopbar start*/
    .k43Owe {
        display: none;
    }
    .rIyhE {
        .cGvavf {
            margin: 0 0 0;
        }
    }
    .y183Ub {
        display: none;
    }
    .NMm5M[width="18"]/*removing this small arrow was so stupid*/ {
        display: none
    }
    .sXIFDb.sXIFDb:last-child {
        margin-left: 0.5rem;
    }
    /*uppertopbar end*/
    .N6nSod/*help button*/ {
        background-color: rgba(0, 0, 0, 0);
    }
}
